@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
.App {
  text-align: center;
  text-decoration: none;
}


*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  border: none;
  list-style: none;
  object-fit: cover;
  
}
body{
  background-color: rgb(255, 255, 255);
  width: 100%;
overflow-x: hidden;
font-family: 'poppins', sans-serif;
}
.navbar{
  border-bottom: solid 1px rebeccapurple;
  width: 100%;
  height: 10vh;
color: black;

  display: flex;
  justify-content: space-between;
  position: relative;
 
  .HamNav{
    position: absolute;
    top: 10vh;
    width: 100%;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    color: white;
    .ndNav{
      display: flex;
      padding: 30px; 
      justify-content: center;
      align-items: center;
      width: 50%;
      text-align: center;
      color:white;
      background-color: rebeccapurple;
      margin: 10px 10px;
    }
    .newnav {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      justify-content: space-between;
      background-color: rebeccapurple;
      z-index: 10000;
   
      ul{
     
        display: flex;
        flex-direction: column;
        color: white;
        margin-top: 20px;
        li{
          padding: 20px 20px;
          text-transform: uppercase;
          font-size: 20px;
          cursor: pointer;
          color: white;
          &:hover{
            color: rebeccapurple;
          }
        }
      }
    
    }
  }
  .search{

    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: relative;
    @media screen and (max-width:550px) {
     display: none;
    }
    img{
      width: 20px;
      height: 20px;
      object-fit: cover;
      position: absolute;
      right: 1%;

      background: transparent;
    }
    input{
      width: 100%;
      padding: 6px;
      position: relative;
      border-bottom:  solid 1px lightgrey;
    &:focus{
      color: grey;
    }
    }
    
    }
  .navbar__logo{
    flex: 1;
    display: flex;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: center;
    @media screen and (max-width:550px) {
     
      display: flex;
      justify-content: flex-start;
      padding-left: 20px;
     }
    }
 .navlist{
      flex: 2;
      ul{
        display: flex;
        width: 100%;
      gap: 10px;
        height: 100%;
        justify-content: center;
        align-items: center;
        li{
          text-transform: uppercase;
          font-size: 17px;
          font-weight: 400;
          color: grey;
          cursor: pointer;
          &:hover{
            color: rebeccapurple;
          }
        }
      }
      @media screen and (max-width:550px) {
        display: none;
       }
    }
    .newbtn{
      
      margin: auto 20px  ;
      height: 40px;
      padding: 7px 20px;
      color: white;
      background-color: rebeccapurple;
      position: relative;
      overflow: hidden;
      z-index: 1;
cursor: pointer;
transition: all ease-in-out .3s;
     &:hover{
     background-color: white;
     color: rebeccapurple;
     border: solid 1px rebeccapurple;
     }
     @media screen and (max-width:550px) {
      display: none;
     }
    }
   .harmburger{
     width: 40px;
     gap: 2px;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
position: relative;
cursor: pointer;
display: none;
padding-top: 3px;
     div{
      &:nth-child(1){
        width:70%;
        height:4px;
     
      background-color: #000;
     }
     &:nth-child(2){
      width:70%;
      height:4px;
   
    background-color: #000;
   }
   &:nth-child(3){
    width:70%;
    height:4px;
 
  background-color: #000;
 }
   }
   @media screen and (max-width:550px) {
    display: flex;
    margin-right: 20px;
   }
}
}

.main__container{
  background-image: url("./Images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: aquamarine;
  height: 70vh;
  width: 100%;
  display: flex;
  gap: 9px;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h6{
    color: rgb(177, 177, 177);
  }
  h1{
    padding: 0px 5px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
  }
}

.postmain{
  height: 70vh;
  padding: 3rem 2rem;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  justify-content: center;
  
  position: relative;
  .loading{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(253, 253, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    div{
      width: 100px;
      height: 100px;
      border: solid 3px green;
      background-color: transparent;
      border-radius: 50%;
     animation: rotates 2s   infinite direction fill-mode;
     
    }
  
  }
}
@mixin keyfra {
  
}
.post__container{
  width: 230px;

  background: rgb(247, 247, 247);
  border: solid grey 1px;
  height: 400px;
  border-radius: 4px;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  padding: 1px;
  position: relative;
  
  &::after{
    width: 100%;
    height: 100%;
    content: ">";
    position: absolute;
    top: 0;
    left: 0;
    
    background: #000;
    opacity: .1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
   
  }
  img{
    width: 100%;
    height: 250px;
  }
.text{
  width: 90%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 3px;
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid grey;
  h6{
    color: gray;
    text-transform: uppercase;

  }
  h3{
    text-align: center;
    letter-spacing: .4px;
    color: rgb(19, 16, 16);
    max-width:100% ;
    padding: 0 10px;
    align-self: center;
  
  }
}

}

.footer{
  background-color: rgb(245, 245, 244);
  width: 90%;
  margin: 0 auto;
  height: 40vh;
 border-top: solid 3px rgb(235, 230, 235);
 border-top-right-radius: 10px;
 border-top-left-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  h4{
    color: grey;
    text-transform: uppercase;
    font-size: 10px;
  }
  p{
    color: rgb(36, 33, 33);
    font-size: 15px;
  }
}

.Login__form{
  width: 100%;
  height: 80vh;
  background-color: rgba(239, 239, 240, 0.507);
  display: flex;
  justify-content: center;
  align-items: center;
  form{
    height: 80%;
    padding:2rem;
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 15px;
    border-radius: 20px;
    color:white;
    background-image: linear-gradient(to bottom, #6c58da ,  #3d88e9);
    @media screen and (max-width:550px) {
      width: 80%;
    }
    h1{
      @media screen and (max-width:450px) {
       font-size: 16px;
      }
    }
    input{
      width: 100%;
      height: 36px;
      color: white;
      padding-left: 10px;
      background-color: transparent;
      border-bottom: solid 1px rgb(228, 228, 228);
      &::placeholder{
        color: rgb(231, 231, 231);
      }
    }
   .ip{
     display: flex;
     width: 100%;
    align-items: center;
    
    height: 40px;
     gap: 10px;
     margin-bottom: 30px;
     input{
     
       height: 20px;
       width: 15px;
    
     }
     span{
       font-size: 13px;
       
     }
   }
   button{
     
      margin: 40px auto 0px;
      padding: 15px 20px;
     text-align: center;
     border-radius: 30px;
     width: 50%;
     color: blueviolet;
     text-transform: uppercase;
     font-weight: bold;
     cursor: pointer;
     transition: all ease-in-out .4s;
     &:hover{
       background-image: linear-gradient(to right, #6c58da ,  #3d88e9) ;
       color: white;
       border: solid 1px white ;
     }
     @media screen and (max-width:550px) {
       width: 100%;
     }
   }
  }
}

//dashboard 
.dashboard{
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 2rem;
  display: flex;
 background-color: rgb(233, 233, 233);
    justify-content: center;
    align-items: flex-start;
.posts{
  width: 60%;
  @media screen and (max-width:550px) {
    width: 100%;
   }
}
  .myForm{
    padding: 1rem;
    background-color: rgba(231, 236, 240, 0.212);
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
 
    justify-content: center;
    align-items: flex-start;
    background: rgb(255, 255, 255);
    gap: 10px;
    color: rebeccapurple;
    @media screen and (max-width:550px) {
     width: 100%;
    }
    h3{
      font-weight: lighter;
      text-align: left;
    }
    input{
      width: 100%;
      border-radius: 10px;
      height: 40px;
      background-color: rebeccapurple;
      &::placeholder{
        color: white;
        padding-left: 10px;

      }
     
    }
//about


    textarea{
     width: 100%;
     height: 300px;
      height: 70%;
      background-color: rebeccapurple;
      resize: none;
      color: rgb(255, 255, 255);
      padding:  10px;
      border-radius: 10px;
      &::placeholder{
        padding-left: 20px;
        color: rgb(231, 231, 231);
      }
    }
    button{
      border-radius: 10px;
      width: 100%;
      height: 30px;
      color: white;
      font-weight: bold;
      background: rebeccapurple;
      cursor: pointer;
    }
  }
  @media screen and (max-width:550px) {
    display: flex;
    flex-direction: column;
  }
}

//post page
.postcont{
  width: 90%;
  
  margin: 2rem auto;
background-color: #f7f7f7;
  height: max-content;
  .inner{
    width: 100%;
    padding: 2px 2rem;
    .img{
      background-color: aqua;
      width: 100%;
      height: 300px;
      margin:  40px 0;
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        
      }
    
    }
    h3{
      text-align: center;
      margin: 1rem;
      line-height: 2;
    }
    p{
      
      line-height: 2.4;
      margin-bottom: 2rem;
    }
  }
 
}
//switcheroo
.innerConatier{
  width: 80%;
  background-color: blue;
  height: 100vh;
  padding: 1.2rem;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  .titles{
    width: 90%;
    padding: 10px;
    display: flex;
    gap: 10px;
    height:max-content;
    justify-content: center;
    h3{
      border: grey solid 1px ;
      text-align: center;
      padding: .7rem;
     cursor: pointer;
     color: wheat;
    }
   
h3{
  width: 20%;
}
  }
}

//end switcher roo
.postPageMain{
  .progressBar{
    position: fixed;
    width: 100%;
    height: 5px;
    z-index: 200;
    top: 0;
    left: 0;
    .progressReader{
      width: 0;
      height: 5px;
      transition: width 100ms ease;
      background-color: rebeccapurple;
    }
  }
  width: 100%;
  .imgContainer{
    width: 100%;
    img{
      width: 90%;
      height: 40vh;
      object-fit: cover;
      
    }
  
  }
  .title{
    h1{
      margin: 20px 0;
    }
    @media screen and (max-width:500px) {
      padding: 1rem;
    
     }
  }
  .profile{
    margin: 0 auto;
    height: max-content;
    width: 75%;
    padding: 2rem;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width:500px) {
      width: 90%;
    flex-direction: column;
    gap: 10px;
     }
    .name{
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      gap: 20px;
      p{

      
      @media screen and (max-width:500px) {
        font-size: 15px;
       }}
      .imgCont{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        @media screen and (max-width:500px) {
          width: 50px;
        height: 50px;
         }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
    .pubdets{
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 20px;
      h6{
        @media screen and (max-width:500px) {
         font-size: 15px;
         font-weight: lighter;
         }
      }
    }
  }
  .page__content{
    margin: 0 auto;
    width: 75%;
    margin: 2rem auto;
    p{
      font-size: 20px;
      line-height: 1.3;
      text-align: left;
      letter-spacing: 1px;
      @media screen and (max-width:500px) {
       font-weight: light;
       color: rgb(99, 99, 99);
      
       }
    }
    @media screen and (max-width:500px) {
      width: 90%;
    
     }
  }
}
.about{
  width: 100%;
  height: 100vh;
  display: flex;
justify-content: center;
align-items: center;
a{
  display: block;
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem;
  color: rebeccapurple;
  border: solid 2px rebeccapurple;
}

}